<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448806748779-0ahjm717jvdihr4t6vailhibgutvq7p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448806748779-0ahjm717jvdihr4t6vailhibgutvq7p6</string>
	<key>API_KEY</key>
	<string>AIzaSyAwmDddow4xya_JOEapNvj4vmqxtSGJHRw</string>
	<key>GCM_SENDER_ID</key>
	<string>448806748779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambda.recaller</string>
	<key>PROJECT_ID</key>
	<string>recaller-14a1f</string>
	<key>STORAGE_BUCKET</key>
	<string>recaller-14a1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448806748779:ios:0416efe18b87dd9a</string>
	<key>DATABASE_URL</key>
	<string>https://recaller-14a1f.firebaseio.com</string>
</dict>
</plist>